extends ../layout

block content
    form(method='post')
        fieldset
            div.row
                legend.col-lg-12= title
            if error
                div.row
                    div.form-group.col-lg-12
                        div.alert.alert-danger(role='alert')
                            p= error
            - var vm = model || { }
            - var accounts = targets || [];
            div.row
                div.form-group.col-sm-4
                    label(for='date')
                    input.form-control#date(type='datetime-local', name='date', required, placeholder='Date', value=vm.date)
                div.form-group.col-sm-4
                    label(for='amount')
                    input.form-control#amount(type='number', name='amount', required, value=vm.amount, placeholder='Amount', min=min, max=max)
                div.form-group.col-sm-4
                    label(for='category')
                    select.form-control#category(name='category', required)
                        - for (var i = 0, category = categories.length > 0 ? categories[0] : {}; i < categories.length; i++, category = categories[i])
                            option(value=category.key, selected=category.key === vm.category) #{category.name}
            div.row#account-row(class=vm.category === 'TRX' ? 'visible' : 'hidden')
                div.form-group.col-lg-12
                    label(for='account')
                    select.form-control#account(name='account')
                        - for (var i = 0, account = accounts.length > 0 ? accounts[0] : {}; i < accounts.length; i++, account = accounts[i])
                            option(value=account.id, selected=account.id === (vm.account ? vm.account : '')) #{account.name}
            div.row
                div.form-group.col-lg-12
                    label(for='description')
                    textarea.form-control#description(name='description', placeholder='Description', value=vm.description)
            div.row
                div.form-group.col-lg-12
                    button.btn.btn-primary(type='submit') Create
                    a.btn.btn-default(href='/dashboard') Cancel